In [23]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df = pd.read_csv('gurgaon_properties_total.csv')

df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1276,3 Bedroom House for sale in Sector 12A Gurgaon,house,independent,1.70,9444.0,1800.0,Built Up area: 200 (167.23 sq.m.)Carpet area: ...,3,3,0,not available,"Prem Nagar, Sector 12A Gurgaon, Gurgaon, Haryana",1.0,NaN,undefined,"['Sheetla Mata Mandir', 'Hanuman Mandir', 'Jac...",3bhk residential house for resale in sector 12...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
1784,2 Bedroom House for sale in Sector 6 Gurgaon,house,anshul,0.85,7727.0,1100.0,Carpet area: 1100 (102.19 sq.m.),2,2,0,not available,"Sector 6, Gurgaon, Haryana, India, Sector 6 Gu...",4.0,North-East,undefined,"['Sheetla Mata Mandir', 'Chintapurni Mandir', ...","Prerented house for sale anshul sector 6, gurg...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
32,5 Bedroom House for sale in Sohna Road,house,prem kunj,0.50,7407.0,675.0,Plot area 675(62.71 sq.m.)Built Up area: 725 s...,5,4,3,pooja room,"Opp.Kiit College, Sohna Road, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Rajiv Chowk Mosque', 'Standard chartered ATM...",Seprated entry from road.Locked colony by gate...,NaN,"['Water Storage', 'Park', 'Bank Attached Prope...",NaN
1511,3 BHK Flat in Sector 1 Imt Manesar,flat,prasha apartments,0.75,3309.0,2267.0,Super Built up area 2115(196.49 sq.m.),3,3,3+,servant room,"Sector 1 Imt Manesar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",Prasha gh-23 ....................................,"['6 Fan', '15 Light', '1 Modular Kitchen', 'No...","['Lift(s)', 'Maintenance Staff', 'Separate ent...","['Environment5 out of 5', 'Lifestyle4.5 out of..."
3494,2 BHK Flat in Palam Vihar,flat,bestech park view residency,0.98,6961.0,1408.0,Super Built up area 1415(131.46 sq.m.),2,2,3,not available,"Palam Vihar, Gurgaon, Haryana",0.0,East,5 to 10 Year Old,"['Dwarka Sector 21 Metro Station', 'HUDA Marke...",This 2 bhk apartment is available for sale in ...,"['2 Wardrobe', '4 Fan', '1 Geyser', '5 Light',...","['Security / Fire Alarm', 'Power Back-up', 'Li...","['Green Area5 out of 5', 'Construction4 out of..."

In [24]:
df.shape

(3961, 20)

In [25]:
df.duplicated().sum()

0

In [26]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 37D Gurgaon,flat,signature global city 37d ph 2,Sector 37D,1.35,9375.0,1440.0,Carpet area: 1440 (133.78 sq.m.),3,3,3+,pooja room,"Sector 37D Gurgaon, Gurgaon, Haryana",3.0,NaN,Mar 2024,"['Dwarka Expressway', 'Pataudi Road', 'Euro In...",The property has terrace with the same. Beauti...,[],"['Power Back-up', 'Lift(s)', 'Swimming Pool', ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,2 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,Sector 68,1.32,8759.0,1507.0,Super Built up area 1507(140 sq.m.),2,2,3,study room,"Sierra Middle Floor, Sector 68 Gurgaon, Gurgao...",15.0,North-East,1 to 5 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...","This 2 bhk flat is located in m3m the marina, ...","['3 AC', '1 Chimney', '1 Modular Kitchen', 'No...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Green Area4 out of 5', 'Construction4 out of..."
2,3 BHK Flat in Sector 99A Gurgaon,flat,pareena coban residences,Sector 99A,1.30,6510.0,1997.0,Built Up area: 1997 (185.53 sq.m.),3,3,0,not available,"Sector 99a, Delhi Gurgaon Expressway, Sector 9...",16.0,NaN,undefined,"['Gopal Super Market', 'Little Need Super Mark...",3bhk multistorey apartment for new property in...,NaN,NaN,"['Safety3 out of 5', 'Lifestyle3 out of 5', 'E..."
3,3 BHK Flat in Sector 56 Gurgaon,flat,park view apartment,Sector 56,1.74,7565.0,2300.0,Super Built up area 2450(227.61 sq.m.)Built Up...,3,3,3+,"pooja room,servant room","Sector 56, Sector 56 Gurgaon, Gurgaon, Haryana",2.0,South,10+ Year Old,"['Sector 54 chowk metro station', 'Sector metr...",Check out this 3 bhk apartment for sale in par...,"['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Lift(s)', 'H...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,4 BHK Flat in Sector 81 Gurgaon,flat,bestech park view grand spa,Sector 81,3.00,9419.0,3185.0,Super Built up area 3185(295.9 sq.m.),4,5,2,servant room,"Sector-81, Sector 81 Gurgaon, Gurgaon, Haryana",6.0,South,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, IMT Manesar', 'Dwa...",Located in the popular residential address of ...,"['4 Wardrobe', '4 Fan', '1 Exhaust Fan', '4 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."

In [28]:
# df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip()

In [29]:
df['sector'] = df['sector'].str.lower()

In [30]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [31]:
df.sample(5)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3739,6 Bedroom House for sale in Madanpuri,house,independent,sector 7,0.90,10000.0,900.0,Plot area 100(83.61 sq.m.),6,4,3,"servant room,others","Madanpuri, Gurgaon, Haryana",3.0,North-East,10+ Year Old,"['Dev Man Kathuria Clinic', 'Dr. Madan Clinic'...","Corner property, two side open, 30 by 30 with ...","['5 Fan', '1 Exhaust Fan', '1 Geyser', '6 Ligh...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1736,2 BHK Flat in Sector 107 Gurgaon,flat,m3m woodshire,sector 107,1.15,7496.0,1534.0,Super Built up area 1534(142.51 sq.m.)Carpet a...,2,2,3,study room,"Sector 107 Gurgaon, Gurgaon, Haryana",0.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",Ground floor corner flat with day light throug...,"['5 Fan', '1 Geyser', '5 Light', '4 AC', '1 Mo...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4.5 out of 5', 'Construction5 out ..."
157,2 BHK Flat in Sector 104 Gurgaon,flat,puri emerald bay,sector 104,1.58,9117.0,1733.0,Super Built up area 1700(157.94 sq.m.),2,3,3,servant room,"N/a, Sector 104 Gurgaon, Gurgaon, Haryana",11.0,North-East,1 to 5 Year Old,"['Sector-21 Metro Dwarka', 'Gurgaon Dreamz Mal...",Located in the popular residential address of ...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
3853,3 BHK Flat in Sector 69 Gurgaon,flat,tulip leaf,sector 69,2.07,11423.0,1812.0,Super Built up area 1812(168.34 sq.m.),3,3,3,not available,"Sector 69 Gurgaon, Gurgaon, Haryana",16.0,South-West,1 to 5 Year Old,"['Omaxe City Centre Sector 49', 'Southern Peri...",Looking for a 3 bhk property for sale in gurga...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2175,6 Bedroom House for sale in Palam Vihar,house,ansals palam vihar,sector 2,5.00,12500.0,4000.0,Built Up area: 4000 (371.61 sq.m.),6,4,0,not available,"Palam Vihar, Palam Vihar, Gurgaon, Haryana",3.0,NaN,undefined,NaN,6bhk residential house for resale in ansals pa...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [32]:
df['sector'].value_counts()

sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 90                      90
sector 65                      90
sector 81                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 95                      57
sector 56                      57
sector 48                      56
sector 89                      56
sector 2                       55
sector 70a                     54
sector 70                      53
sector 37c                     53
sector 43                      53
sector-33 sohna road           51
sector 84                      51
sector 26                      50
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 113                     43
sector 25                      43
sector 61                      42
sector 82                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 12                      30
sector 68                      30
sector 72                      29
sector 77                      29
sector 71                      27
sector 112                     24
sector 24                      24
sector 57                      24
sector 14                      23
sector 88a                     23
sector 105                     23
sector 33                      23
sector 67a                     22
sector 111                     22
sector 11                      21
sector 22                      20
sector 3                       20
sector 82a                     20
sector 47                      19
sector 78                      19
gwal pahari                    18
sector 74                      18
sector 63a                     18
sector 91                      17
sector 62                      17
sector 110                     16
sector 99                      16
sector 63                      15
sector 60                      15
sector 76                      14
sector 55                      14
sector 1 manesar               14
sector 53                      14
sector 52                      14
sector 46                      13
sector 9                       13
sector 36a                     13
sector 4 phase 2               13
sector 6                       13
sohna road road                12
sector 39                      12
sector 31                      12
sector 93                      12
sector 38                      12
sector 3 phase 3 extension     11
sector 9a                      11
sector 41                      11
sector 1a manesar              10
sector 13                      10
sector 95a                      9
sector 3 phase 2                9
sector 45                       9
manesar                         9
sector 8                        8
sector 2 extension              8
sector 17                       8
sector 10a                      8
sector 89 a                     8
dwarka expressway               8
sector 23                       8
c block sector 43               8
sector 40                       8
sector 59                       8
sector 51                       7
sector 58                       7
sector 36 sohna road            7
sector 1                        6
sector 5                        6
sector 21                       6
new sector 2                    5
sector 30                       5
sector 23a                      5
sector 80                       5
new                             4
sector 3a                       4
sector 36                       4
sector 12a                      4
a block sector 43               3
sector 17b                      3
b block sector 43               3
maruti kunj                     3
sector 15                       3
sector 17a                      3
sector 27                       3
sector 73                       3
sector 88b                      3
sector 110 a                    3
patel nagar                     3
Name: sector, dtype: int64

In [33]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [34]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 37D Gurgaon,flat,signature global city 37d ph 2,sector 37d,1.35,9375.0,1440.0,Carpet area: 1440 (133.78 sq.m.),3,3,3+,pooja room,"Sector 37D Gurgaon, Gurgaon, Haryana",3.0,NaN,Mar 2024,"['Dwarka Expressway', 'Pataudi Road', 'Euro In...",The property has terrace with the same. Beauti...,[],"['Power Back-up', 'Lift(s)', 'Swimming Pool', ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,2 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,sector 68,1.32,8759.0,1507.0,Super Built up area 1507(140 sq.m.),2,2,3,study room,"Sierra Middle Floor, Sector 68 Gurgaon, Gurgao...",15.0,North-East,1 to 5 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...","This 2 bhk flat is located in m3m the marina, ...","['3 AC', '1 Chimney', '1 Modular Kitchen', 'No...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Green Area4 out of 5', 'Construction4 out of..."
2,3 BHK Flat in Sector 99A Gurgaon,flat,pareena coban residences,sector 99a,1.30,6510.0,1997.0,Built Up area: 1997 (185.53 sq.m.),3,3,0,not available,"Sector 99a, Delhi Gurgaon Expressway, Sector 9...",16.0,NaN,undefined,"['Gopal Super Market', 'Little Need Super Mark...",3bhk multistorey apartment for new property in...,NaN,NaN,"['Safety3 out of 5', 'Lifestyle3 out of 5', 'E..."
3,3 BHK Flat in Sector 56 Gurgaon,flat,park view apartment,sector 56,1.74,7565.0,2300.0,Super Built up area 2450(227.61 sq.m.)Built Up...,3,3,3+,"pooja room,servant room","Sector 56, Sector 56 Gurgaon, Gurgaon, Haryana",2.0,South,10+ Year Old,"['Sector 54 chowk metro station', 'Sector metr...",Check out this 3 bhk apartment for sale in par...,"['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Lift(s)', 'H...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,4 BHK Flat in Sector 81 Gurgaon,flat,bestech park view grand spa,sector 81,3.00,9419.0,3185.0,Super Built up area 3185(295.9 sq.m.),4,5,2,servant room,"Sector-81, Sector 81 Gurgaon, Gurgaon, Haryana",6.0,South,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, IMT Manesar', 'Dwa...",Located in the popular residential address of ...,"['4 Wardrobe', '4 Fan', '1 Exhaust Fan', '4 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."

In [38]:
df[df['sector'] == 'new']

Empty DataFrame
Columns: [property_name, property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [37]:
df.loc[3380,'sector'] = 'sector 37'
df.loc[3126,'sector'] = 'sector 92'
df.loc[801,'sector'] = 'sector 90'
df.loc[1021,'sector'] = 'sector 76'

In [41]:
df[df['sector'] == 'new sector 2']

Empty DataFrame
Columns: [property_name, property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [42]:
df.loc[[146,807,2514,2764,2783],'sector'] = 'sector 110'

In [44]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [45]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)